
/*MAPS*/

$headings:(
    h1: 5rem,
    h2: 4rem,
    h3: 3rem,
    h4: 2rem
);

@each $heading, $size in $headings {
    .font-#{$heading}{
        font-size: $size;
    }
}

$fuentes:(
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
    extra-bold: 800
);
@each $clave, $valor in $fuentes {
    .font-#{$clave}{
        font-weight: $valor;
    }
}
