@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}
html{
    font-size: 70%;
    box-sizing: border-box;
}
ul{
    color: white;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(9, 152, 255);
    font-size: 2rem;
}
img{
    width: 100%;
    height: auto;
}

#header, #tarjetasDestino, #footer, .mySlide {
    width: 100%;
    margin: auto;
}

/*variables*/

/*MIXIN*/

@mixin caja-flex($principal, $horizontal, $wrap){
    display: flex;
    justify-content: $principal;
    align-items: $horizontal;
    flex-wrap: $wrap;
}





/*.btn{
    border: none;
    border-radius: 2px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    background-color:#6610f2;
}
.btn-principal{
    @extend .btn;
}*/ 

// este botón iba a ir en la tarjeta "ver mas" pero no me convenció

