@import "fuentes";
@import "global";
@import "responsive";

/*HEADER*/
#header {
  position: fixed;
  z-index: 10;
  top: 0;
  border-top: 8px solid rgb(255, 255, 255);
  width: 100%;
}
.navbar {
  @include caja-flex(space-between, center, wrap);
  ul {
    display: flex;
    padding: 0;
    a {
      margin-right: 7px;
      padding: 10px;
      font-size: 1.8rem;
    }
    a:hover {
      transform: scale(1.2);
    }
  }
  #navbarSupportedContent {
    position: absolute;
    right: 0px;
    bottom: 5px;
  }
}

/*Contenido principal HOME*/
// h1 {
//   @include caja-flex(center, center, nowrap);
// }
.animacion-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 25px #666;
  cursor: pointer;
}
.mySlide {
  margin-top: 68px;
  margin-bottom: 50px;
  .carousel-item {
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: -1;
    }
    .container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    h1 {
      font-size: map-get($cabeceras, h1);
      color: #ffffff;
      margin: 0 0 10px;
    }
    p {
      font-size: 40px;
      margin: 0;
      color: #ffffff;
      opacity: 0;
    }
  }
  .carousel-item.active h1 {
    animation: fadeInLeft 1s ease forwards;
  }
  .carousel-item.active p {
    animation: fadeInRight 1s ease forwards;
  }
  .carousel-control-next,
  .carousel-control-prev {
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  .carousel-control-next {
    right: 120px;
  }
  .carousel-control-prev {
    left: 120px;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
// .titulosHome{
// 	display: flex;
// 	z-index: 2;
// 	margin-left: 5px;
// 	font-size: 3rem;
// }

/*FOOTER*/
#footer {
  padding: 1em 0;
  width: 100%;
  height: 150px;
  margin-top: auto;
}
